.signup {
	background-color: #fafafa;
}

.signup .signup-container {
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.signup input{
	border-color: black;
}

.signup button[type="submit"]{
	background-color: #F95F62;
	color: white;
	user-select: none;
	transition: 100ms;
}

.signup button[type="submit"]:hover, .signup button[type="submit"]:focus{
	background-color: rgb(255, 61, 65);
}

.signup button[type="submit"]:active{
	background-color: rgb(255, 42, 45);
}
